<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="/css/Grid.css">
</head>
<body>
    <main>
        <h1>Portal informativo de información</h1>
        <div class="block">
            <div class="movies">Movies</div>
            <div class="series">Series</div>
            <div class="games">Games</div>
            <div class="terraplanismo">Terraplanismo</div>
            <div class="Messi">Lionel Messi</div>
        </div>
    </main>
</body>
</html>