<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wid</title>
    <link rel="icon" href="/resources/favindex.ico">
    <link rel="stylesheet" href="/css/wid.css">
</head>
<body>
    <header>
        <h1>Argentina es el primer pais del mundo</h1>
    </header>
    <h2>A</h2>
    <h3><font COLOR="yellow">O</font></h3>
    <h2>C</h2>
</body>
</html>