<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <BODY>
        <form method="POST" action="">
            <div>
            <H1>Enter your details </H1> <br>
            First Name <input type = "text" name= "nombre" /> <br>
            contra <input type = "text" name = "contra" /> <br>
            <input type = "submit">
            <a href="{{url_for('inicio')}}">Iniciar sesion</a>
            </div>
        </form>
</body>
</html>