<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
</head>
<body>
    <form method="POST" action="">
        <div>
            <H1>Inicia Sesion </H1> <br>
            nombre <input type = "text" name= "nombreI" /> <br>
            contra <input type = "password" name = "contraI" /> <br>
            <input type = "submit">
            <a href=""></a>
        </div>
    </form>
</body>
</html>